.nav {
  height: 10vh;
  width: 85%;
  min-width: 40vw;
  max-width: 1651.4px;
  padding: 1vh;
  border: 5px solid rgba(252,252,252,0.6);
  margin: 2.5% auto 0 auto;
  color: grey;
  position: absolute;
  left: 0;
  right: 0;
}

.inner-box {
  background-color: #fcfcfc;
  display: flex;
  justify-content: space-between;
  height: 3.3vh;
  font-size: 2.1vh;
  padding: 1.5em 0 1.5em 1.2em;
  transform: translateY(1%);
}

.inner-box .right-side {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  width: calc(550px - 7vw);
  min-width: 28%;
  font-family: "Avant Garde Lt";
  height: 3.2vh;
}

.inner-box .hamburger-icon {
  width: 4vh;
  height: auto;
  cursor: pointer;
  transform: scale(0);
}

.inner-box .hamburger-icon .bar {
  width: 100%;
  height: 0.4vh;
  background-color: grey;
  margin: 0 0 1vh 0;
}

@media only screen and (max-width: 960px) {
  .inner-box {
    padding: 1.5em 1.2em 1.5em 1.2em;
  }
  .inner-box .right-side {
    transform: scale(0);
    margin-left: auto;
  }

  .inner-box .hamburger-icon {
    transform: scale(1);
  }
}

.inner-box .left-side {
  font-size: 4vh;
  position: absolute;
  transform: translateY(-25%);
  font-weight: 700;
}

.inner-box .right-side .nav-link {
  cursor: pointer;
  text-decoration: none;
}

.nav-link, .nav-link:visited, .nav-link:hover, .nav-link:active {
  color: inherit;
}

.inner-box .right-side .active {
  color: rgb(118,177,212);
  border-bottom: 4px solid rgb(118,177,212);
}
