.Rush {
  background-color: #fcfcfc;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.Rush .images {
  width: calc(47% - 2vw);
  max-width: 58em;
}
.Rush img {
  width: calc(100% - 2vw);
  max-width: 58em;
}

.Rush .description {
  margin-top: calc(17% + 2vw);
  margin-left: 3.9%;
  margin-right: 3.9%;
  width: 60%;
}
.Rush .description .header {
  font-family: "Avant Garde Lt";
  font-size: calc(16px + 1.2vw);
  color: rgb(118,177,212);
  display: block;
  border-bottom: 4px solid rgb(118,177,212);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.Rush .description .body {
  font-family: "Avant Garde Lt Medium";
  font-size: calc(5.3px + 1.2vw);
  color: grey;
  line-height: 1.6em;
}

@media only screen and (max-width: 960px) {
  .Rush img {
    width: 0;
    height: 0;
    transform: scale(0);
  }

  .Rush .images {
    width: 0;
  }

  .Rush .description {
    max-width: 100%;
    width: 80%;
    margin: 7% auto 0 auto;
  }

  .Rush .description .header {
    text-align: center;
    font-size: 5vw;
    padding-bottom: 3vw;
    margin-bottom: 5vw;
  }

  .Rush .description .body {
    font-size: 3.5vw
  }
}
